<h2>Now Showing</h2>
<ul class="film-list">
    <% for film in @films %>
        <% page = @films.index(film) + 1 %>
        <li><a href="/films/<%= film.id %>"><%= film.title %></a></li>
    <% end %>
</ul>
